# Google Sheets Configuration
# Salin file ini ke .env dan isi nilai-nilainya
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_TAB_NAME=Transactions

# App
PUBLIC_APP_NAME=Family CashFlow-Sheet
PORT=3000
NODE_ENV=development
ORIGIN=http://localhost:3000
